/*
   New Perspectives on HTML and CSS
   Tutorial 7
   Review Assignment

   Jumbo Popcorn Style Sheet

   Author:           Maxine Michaels
   Date:             3/1/2014

   Filename:         embed.css
   Supporting Files: 

*/


audio, video {
   display: block;
   margin: 5px auto;
   width: 90%;
   text-align: center;
}

object {
   display: block;
   margin: 5px auto;
}

