body {	background-color: #6699ff;
		color:#d5e3ff;
		font-family: Verdana, Arial, sans-serif;
}
#container {	width: 700px;
}
#logo { 	padding-left: 170px;
}
#leftcolumn {	float: left;
				width: 140px;
}
#rightcolumn {	padding-left: 170px;
}
img { 	border:0;
		padding: 10px;
}
.category {	background-color: #6699ff;
			color: #003366;
			font-weight: bold;
			font-size: 1.1em;
}
#footer {	font-size: .70em;
			font-style: italic; 
}

#navlist {list-style-type: none;
	 margin-left: 0;
	 padding-left: 0;
}

table { border: 2px solid #0000ff;
		border-collapse: collapse;
		margin: 15px 0px 15px 0px;
}
td, th {	border: 1px solid #0000ff;
		padding: 10px;
}

.labelcol { float: left;
			width: 100px;
			text-align: right;
			padding-right: 10 px;
}

.myRow { height: 30px;
}

mySubmit { margin: 10px, 10px, 10px, 110px;
}
#movie { float: right;
		margin-left: 20px;
		margin-bottom: 50px;
}
		