<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lesson Template</title>
    <link href="../lesson.css" rel="stylesheet" />
    <script src="../ace-builds/src-noconflict/ace.js"></script>
    <script src="../lesson.js"></script>
</head>

<body>
    <pre>
        <div class="pane" id="editor">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
     &lt;title&gt;Template&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
     Your code goes here
  &lt;/body&gt;
&lt;/html&gt;
        </div>
    </pre>
    <input type="button" id="render" value="Render Your Code" />&larr; click the button when you are done editing<br />
    <iframe class="pane" id="output"> </iframe>\
    <section>
        <h2>References</h2>
        <ul>
            <li>
                <a href="https://www.w3schools.com/html/" target="_blank">W3Schools HTML5 Tutorial</a></li>
            <li>
                <a href="https://developer.mozilla.org/en-US/docs/Web/Tutorialshttps://developer.mozilla.org/en-US/docs/Web/Tutorials" target="_blank">MDN: HTML Tutorials</a></li>
        </ul>
    </section>
    <footer>
        <small>&copy; Copyright 2017, Brian Bird</small>
    </footer>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/textmate");
        editor.getSession().setMode("ace/mode/html");
        var output = document.getElementById('output');
        renderCode(editor, output);
        document.getElementById("render").addEventListener("click", function() {
            renderCode(editor, output)
        }, false);
    </script>
</body>

</html>